body {
    /* background-image: linear-gradient(to right, rgb(119, 129, 250), rgb(70, 177, 234)); */
    background-image: url(../img/background.jpg);
    margin-top: 160px !important;
}

.register-left {
    text-align: center;
    color: #fff;
    padding: 30px;
}

.register-left p {
    padding: 20px 20px 0;
}

.register-left.btn-dark {
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #555;
    margin-top: 20px;
    padding: 10px;
}

.register-left.btn-dark:hover {
    background: #000;
}

.register-right {
    border: none;
    background: rgba(248,248,248,0.8);
    border-top-left-radius: 15% 50%;
    border-bottom-right-radius: 15% 50%;
    padding: 50px;
}

.register-right h4 {
    text-align: center;
    margin-bottom: 10px;
    color: #555;
}

.register-form {
    padding: 15px;
}

.register-right.btn-primary {
    float: right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #555;
    margin-top: 20px;
    padding: 10px;
}

.register-right.btn-primary:hover {
    background: #000;
}

