<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>串流列表</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="css/video.css" rel="stylesheet" th:href="@{/css/video.css}">
    <link href="css/zhibo.css" rel="stylesheet" th:href="@{/css/zhibo.css}">
    <link rel="Shortcut Icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
</head>
<body>

<!--header-->
<div th:replace="header::header"></div>
<!--header-->

<div class="container">
    <div class="row infoVideo align-items-center" th:each="liveVM:${liveVMList}">
        <div>
            <img src="/img/teacher.png">
        </div>
        <div class="borderLine"></div>
        <div class="col-8 rightText">
            <div class="name">
                <strong th:text="${liveVM.name}">Div+CSS布局</strong>
            </div>
            <p>
                課程：<span class="class-category" th:text="${liveVM.course.name}">網頁製作</span>
                專業：<span th:text="${liveVM.major.name}">軟體工程</span>
                年級：<span th:text="${liveVM.grade}">2016</span>
                老師：<span th:text="${liveVM.teacher.nickname}">123</span>
            </p>
            <p>
                串流日期：<span th:text="${#dates.format(liveVM.date, 'yyyy-MM-dd')}">2016/6/6</span>
                開始時間：<span th:text="${liveVM.startTime}">19:00-20:00</span>
                串流長度（分鐘）：<span th:text="${liveVM.length}">60 分鐘</span>
            </p>
        </div>
        <a class=" btn btn-danger " href="#" th:href="@{/live/}+${liveVM.teacher.id}+@{/}+${liveVM.id}">進入頻道</a>
    </div>
</div>
</body>
</html>