<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首頁</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="css/video.css" rel="stylesheet" th:href="@{/css/video.css}">
</head>
<body>

<!--导航栏-->
<div th:replace="header::header"></div>
<!--导航栏-->

<!--轮播图-->
<div class="container banner">
    <div class="carousel slide" data-interval="5000" data-ride="carousel" id="carousel-banner">
        <ol class="carousel-indicators">
            <!-- <li class="" data-slide-to="0" data-target="#carousel-banner"
                th:data-slide-to="${iterStatus.index}"
                th:each="carousel, iterStatus:${carouselList}"></li> -->
            <li data-target="carousel-banner" data-slide-to="0" class="active"></li>
            <li data-target="carousel-banner" data-slide-to="1"></li>
            <li data-target="carousel-banner" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <!-- <a class="carousel-item" href="#"
               th:class="${iterStatus.index}==0?'carousel-item active':'carousel-item'"
               th:each="carousel, iterStatus:${carouselList}"
               th:href="@{/video/}+${carousel.videoId}">
                <img alt="" class="d-block w-100" src="img/bg1.jpg" th:src="@{/img/}+${carousel.imageName}">
            </a> -->
            <div class="carousel-item active">
              <img src="img/bg1.jpg" class="d-block w-100" alt="bg1">
            </div>
            <div class="carousel-item">
              <img src="img/bg4.png" class="d-block w-100" alt="bg2">
            </div>
            <div class="carousel-item">
              <img src="img/bg5.jpg" class="d-block w-100" alt="bg3">
            </div>
        </div>
        <a class="carousel-control-prev" data-slide="prev" href="#carousel-banner">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" data-slide="next" href="#carousel-banner">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<script charset="UTF-8" src="js/jquery-3.4.0.min.js" th:href="@{/js/jquery-3.4.0.min.js}"></script>
<script charset="UTF-8" src="js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<!--轮播图-->


<!--名师推荐-->
<div class="container teachers">
    <div class="tetimonials">
        <div class="inner">
            <h4 class="subtitle">教師簡介</h4>
            <div class="border"></div>
            <div class="rowT">
                <div class="colT">
                    <div class="testimonial">
                        <img alt="" src="/img/t1.jpg">
                        <div class="name">Raymond Liu</div>
                        <p>軟件開發工程師--十餘年的開發經歷，精通java、Python、PHP等編程語言，喜歡籃球與攝影，目前在學校作為一名教師進行Python教學。</p>
                    </div>
                </div>
                <div class="colT">
                    <div class="testimonial">
                        <img alt="" src="/img/t2.jpg">
                        <div class="name">Becky Chien</div>
                        <p>目前主要負責後端架構設計工作，具有豐厚的一線開發經驗與架構經驗，喜歡鑽研各種原始碼，曾任某知名高校負責後端架構，教學中注重互動，樂於分享。</p>
                    </div>
                </div>
                <div class="colT">
                    <div class="testimonial">
                        <img alt="" src="/img/t3.jpg">
                        <div class="name">Jason Tai</div>
                        <p>知名高校計算機大學教學，專注與網頁製作、平面設計、多媒體技術等多個領域，工作認真，風趣幽默的授課方式深受學生們的喜愛。</p>
                    </div>
                </div>
                <div class="colT">
                    <div class="testimonial">
                        <img alt="" src="/img/t4.jpg">
                        <div class="name">Peter Lin</div>
                        <p>資深軟件測試工程師--帶領學生團隊建立多個大型項目的安全測試工作，精通Jmeter等各種工具的使用，其出品的軟件測試系列教學影片收到學生的一致好評。</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="more" href="#" th:href="@{/teachers}">顯示更多</a>
    </div>
</div>
</body>
</html>