<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>教师介绍</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="css/video.css" rel="stylesheet" th:href="@{/css/video.css}">
    <link rel="Shortcut Icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
</head>

<body>
<!--header-->
<div th:replace="header::header"></div>
<!--header-->

<!--名师推荐-->
<div class='container teachers'>
    <div class='tetimonials'>
        <div class='inner'>
            <h4 class='subtitle'>教師介紹</h4>
            <div class='border'></div>
            <div class='row'>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t1.jpg'/>
                        <div class='name'>陳振國</div>
                        <p>目前擔任富士康科技集團副總裁兼任富士康大學校長，負責集團員工培訓及生產力提升工作。 陳振國博士加入富士康科技集團之前,曾任美國德州大學泛美分校理工學院院長，發表了120余篇學術論文，指導博士畢業生20余位。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t2.jpg'/>
                        <div class='name'>謝建中</div>
                        <p>目前主要負責後端架構設計工作，具有豐厚的一線開發經驗與架構經驗，喜歡鑽研各種原始碼，曾任某知名高校負責後端架構，教學中注重互動，樂於分享。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t3.jpg'/>
                        <div class='name'>吳信輝</div>
                        <p>知名高校計算機大學教學，專注與網頁製作、平面設計、多媒體技術等多個領域，工作認真，風趣幽默的授課方式深受學員們的喜愛。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t4.jpg'/>
                        <div class='name'>Peter Lin</div>
                        <p>資深軟件測試工程師--帶領學員團隊建立多個大型項目的安全測試工作，精通Jmeter等各種工具的使用，其出品的軟件測試系列教學影片收到學員的一致好評。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class='tetimonials'>
        <div class='inner'>
            <div class='row'>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t5.jpg'/>
                        <div class='name'>Drew Chen</div>
                        <p>曾任某大型互聯網企業前端架構工程師，完成眾多前端開發項目，熟悉前端學習，針對前端開發出品多個教學影片，收到學員們的喜愛。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t6.jpg'/>
                        <div class='name'>Leo Wang</div>
                        <p>著名軟件測試工程師，有著7年的軟件測試從業經驗，對性能測試、白盒測試、全棧測試都有著很深的研究，精通Jmeter等各種工具的使用。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t7.jpg'/>
                        <div class='name'>Miffy Wang</div>
                        <p>著名Python全棧工程師，有著多年的工作經驗，對爬蟲、web開發有著濃厚的興趣，對於機器視覺方面有著很深的研究，時刻關注前言技術與發展趨勢。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t8.jpg'/>
                        <div class='name'>Elvis Wu</div>
                        <p>曾就職與某知名大型互聯網公司，負責後端開發工作，熟悉C、CPP、Java、Python等開發語言，有著5年的IT從業經驗，深受好評。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class='tetimonials'>
        <div class='inner'>

            <div class='row'>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t9.jpg'/>
                        <div class='name'>張勝君</div>
                        <p>資深算法工程師、機器學習工程師，在BAT多家企業有過工作經驗，多次發表算法類文章，推薦算法的0-1搭建，開設多門算法類教學課程。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t10.jpg'/>
                        <div class='name'>曾藝</div>
                        <p>多年的JAVA架構設計與研發經驗。目前就職於某知名互聯網公司，從事基礎架構設計研發工作，有著豐富的經驗，開設多個教學影片。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t11.jpg'/>
                        <div class='name'>聶為佳</div>
                        <p>豐富的互聯網產品開發經驗，長期鑽研前端開發技術，擅長前端架構技術以及實現複雜的前端交互。教學中注重與學員互動，樂於分享。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t12.jpg'/>
                        <div class='name'>王富寶</div>
                        <p>從事互聯網web 開發多年，熱愛IT行業，對PHP，Python，Java都有涉獵， 實踐經驗豐富，富有激情，熱愛分享喜歡專研新技術。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--名师推荐-->
</body>

</html>